<meta name="go-import" content="wait4x.dev/v2 git https://github.com/wait4x/wait4x">
<meta name="go-source" content="wait4x.dev/v2 https://github.com/wait4x/wait4x https://github.com/wait4x/wait4x/tree/main{/dir} https://github.com/wait4x/wait4x/blob/main{/dir}/{file}#L{line}">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-16700907258"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-16700907258');
</script>
<!-- Event snippet for Page view conversion page -->
<script>
  gtag('event', 'conversion', {
      'send_to': 'AW-16700907258/q4MRCOejsdIZEPq9zps-',
      'value': 1.0,
      'currency': 'EUR'
  });
</script>
